# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
YANDEX_GEOCODER_API_KEY=your-yandex-api-key

# Rollbar
ROLLBAR_ACCESS_TOKEN=your-rollbar-access-token
ROLLBAR_ENVIRONMENT=development

# Postgres
POSTGRES_DB=star_burger_db
POSTGRES_USER=star_burger_user
POSTGRES_PASSWORD=change-me-in-production
DATABASE_URL=postgres://star_burger_user:change-me-in-production@db:5432/star_burger_db
