Django==5.2.15
requests==2.32.5
python-dotenv==1.2.1
pysocks==1.7.1
geopy==2.5.0
geographiclib==2.1
environs==15.0.1
dj-database-url==3.1.2
django-phonenumber-field==8.4.0
phonenumbers==9.0.34
phonenumberslite==9.0.34
django-debug-toolbar==7.0.0
djangorestframework==3.17.1
Pillow==12.3.0
python-telegram-bot==13.7